
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #cce5ff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.logo{
      height: 100px;
      width: auto;
    }
    @media print {
      #brandname, #brandname * {
        display: none;
        visibility: hidden;
        width: 10%;
        height: 6%;
        left: 0;
        top: 0;
      }
      #sticky-footer, #sticky-footer * {
        visibility: hidden;
        display: none;
        width: 10%;
        height: 6%;
        left: 0;
        top: 0;
      }
      #printme, #printme * {
        visibility: visible;
      }
      #printme {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
      }
     
    }
    